
/*--------------------------------------------------------------------------------------------------------------------------------------
<App/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.App {
  text-align: center;
}
.App > header {
  background-color: black;
  padding: 4rem 0;
}



/*--------------------------------------------------------------------------------------------------------------------------------------
<Home/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.Home {
  display: inline-block;
}
.Home > h1 {
  background-color: black;
  /* color: rgb(129, 177, 33); */
}
.movie-container {
  margin-bottom: 10rem;
}




/*--------------------------------------------------------------------------------------------------------------------------------------
<Movie/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.Movie {
  text-align: center;
  margin-top: 4rem;
  height: 1000px;
  width: 800px;
}
.Movie > h2 {
  color: rgb(48, 161, 214);
  font-size: 50px;
}
.movie-description {
  position: relative;
  top: 800px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
  justify-content: space-around;
}
.movie-description > p {
  color: rgb(231, 26, 26);
  width: 50%;
  margin: 0 auto;
}
.movie-description > p > span {
  color: white;
  font-weight: bold;
  font-size: 20px;
}






/*--------------------------------------------------------------------------------------------------------------------------------------
<MovieInfo/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.MovieInfo {
  width: 80%;
  margin: 0 auto;
}

.movie-features-container {
  width: 80%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}
.starship {
  width: 50%;
  margin: 0 10px;
}
.starship > h4 {
  text-align: center
}
.starship-card {
  display: flex;
}
.character {
  width: 50%;
  margin: 0 10px;
}
.planet {
  width: 50%;
  margin: 0 10px;
}



/*--------------------------------------------------------------------------------------------------------------------------------------
<CommentSection/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.CommentSection {
  margin-top: 2rem;
}



/*--------------------------------------------------------------------------------------------------------------------------------------
<CommentForm/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.comment-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.comment-form > textarea {
  border-radius: 20px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}
.comment-form-button {
  margin: 0 10px;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  background-color: transparent;
}



/*--------------------------------------------------------------------------------------------------------------------------------------
<CommentList/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.CommentList {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 8rem;
}
.CommentList > p {
  width: auto;
  height: auto;
  background-color: rgba(58, 43, 36, 0.883);
  color: rgb(233, 216, 216);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  word-wrap: break-word;
}



/*--------------------------------------------------------------------------------------------------------------------------------------
<CommentHistory/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.comment-history-container {
  width: 50%;
  margin: 0 auto;
}




/*--------------------------------------------------------------------------------------------------------------------------------------
<Episode1/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.Episode1 {
  width: 80%;
  margin: 0 2rem;
}





/*--------------------------------------------------------------------------------------------------------------------------------------
<Rating/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.Rating {
  margin-top: 25px;
  text-align: center;
}
input[type="radio"] {
  display: none;
}
.rating-icon {
  cursor: pointer;
}



