
/*--------------------------------------------------------------------------------------------------------------------------------------
<App/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.App {
  text-align: center;
}
.App > header {
  background-color: black;
  padding: 4rem 0;
}



/*--------------------------------------------------------------------------------------------------------------------------------------
<Home/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.Home {
  display: inline-block;
}
.Home > h1 {
  background-color: black;
  /* color: rgb(129, 177, 33); */
}




/*--------------------------------------------------------------------------------------------------------------------------------------
<Movie/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.Movie {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
  height: 1000px;
  width: 800px;
}
.movie-description {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
  justify-content: space-around;
}
.movie-description > p {
  color: white;
  width: 50%;
  margin: 0 auto;
}
.movie-description > p > span {
  color: white;
  font-weight: bold;
  font-size: 16px;
}






/*--------------------------------------------------------------------------------------------------------------------------------------
<MovieInfo/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.MovieInfo {
  width: 80%;
  margin: 0 auto;
}

.movie-features-container {
  width: 80%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}
.starship {
  width: 50%;
  margin: 0 10px;
}
.starship > h4 {
  text-align: center
}
.starship-card {
  display: flex;
}
.character {
  width: 50%;
  margin: 0 10px;
}
.planet {
  width: 50%;
  margin: 0 10px;
}




/*--------------------------------------------------------------------------------------------------------------------------------------
<CommentForm/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.comment-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.comment-form-button {
  display: flex;
  justify-content: left;
  width: 25%
}



/*--------------------------------------------------------------------------------------------------------------------------------------
<CommentList/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.CommentList {
  width: 50%;
  margin: 0 auto;
}



/*--------------------------------------------------------------------------------------------------------------------------------------
<CommentHistory/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.comment-history-container {
  width: 50%;
  margin: 0 auto;
}




/*--------------------------------------------------------------------------------------------------------------------------------------
<Episode1/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.Episode1 {
  width: 80%;
  margin: 0 2rem;
}





/*--------------------------------------------------------------------------------------------------------------------------------------
<Rating/>
---------------------------------------------------------------------------------------------------------------------------------------- */
.Rating {
  text-align: center;
}
input[type="radio"] {
  display: none;
}
.rating-icon {
  cursor: pointer;
}



